<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Zachary Trujillo
  </h1>
  <p>
    
  </p>
  <p>Here is the link to the
    <a href="users">project</a>
  </p>
</body>

</html>